<section>
  <h1>About Me</h1>

  <a href="http://river.scripting.com/"><img src="/images/community-river/badge.gif" alt="scripting.com community river badge"/></a>
  <a href="{{ root_url }}/humans.txt"><img src="http://humanstxt.org/img/oficial-logos/humanstxt-isolated-orange.gif" alt="humans.txt badge"/></a>
  <img src="/images/holding-infinity.jpg" alt="Franklin's palm" title="Franklin's palm"/>
  <img src="http://bloglocal.net/bloglocal.gif"/>

  <p>Hello, my name is <a href="{{ root_url }}/contact" rel="author">Franklin Chen</a>.</p>
  <p>I write here on all kinds of topics, including music, running, health, and Pittsburgh happenings.</p>
  <p>I am a software developer, and write at <a href="http://ConscientiousProgrammer.com/">The Conscientious Programmer</a>.</p>
  <p>I am a chess instructor, and write at <a href="http://chessimprover.com/author/franklinc/">The Chess Improver</a>.</p>
</section>
