.floatright {float:right;}
.games-link, .games-link a{font-family:verdana;font-size:11px;color:#FFFFFF;background:#3368B7;font-weight:bold;text-decoration:underline;line-height:16px;padding-bottom:3px;margin:5px 0;}
.games-link a:hover{color:#e9cf5c}
a.footer{font-family:verdana;font-size:11px;color:#6c8abe;text-decoration:underline;line-height:16px;}
a.footer:hover{color:#ffffff}
.foot{font-family:verdana;font-size:11px;line-height:16px;color:#6c8abe;background:#052B69;padding-bottom:3px;margin:5px 0;}
.game-list{font-family:verdana;font-size:10pt;text-decoration:underline;color:#170C82; cursor:pointer;}
.notation{background:white;}.S15{text-decoration:none;color:#000000;}
.S16{font-family:CA Chess;font-size:12pt;font-weight:bold;text-decoration:none;color:#000000;cursor:pointer;}
.S17{font-family:CA Chess;font-size:12pt;font-weight:normal;text-decoration:none;color:#800000;cursor:pointer;}
.S18{font-family:CA Chess;font-size:12pt;font-weight:normal;text-decoration:none;color:#008080;cursor:pointer;}
.S19{font-family:CA Chess;font-size:12pt;font-weight:normal;text-decoration:none;color:#000080;}
.S20{font-family:CA Chess;font-size:12pt;font-weight:bold;text-decoration:none;color:#000080;}
.S21{font-family:CA Chess;font-size:12pt;font-weight:bold;text-decoration:none;color:#000000;}
.S22{font-family:CA Chess;font-size:12pt;font-weight:bold;text-decoration:none;color:#FF0000;}
.S23{font-family:CA Chess;font-size:12pt;font-weight:bold;text-decoration:none;color:#008000;}
.S24{font-family:CA Chess;font-size:12pt;font-weight:bold;text-decoration:none;color:#0000FF;}
.S25{font-family:CA Chess;font-size:12pt;font-weight:bold;text-decoration:none;color:#808000;}
.S26{font-family:CA Chess;font-size:12pt;font-weight:bold;text-decoration:none;color:#800080;}
.S27{font-family:CA Chess;font-size:12pt;font-weight:bold;text-decoration:none;color:#008080;}
.S28{font-family:CA Chess;font-size:12pt;font-weight:bold;text-decoration:none;color:#FF00FF;}
.S29{font-family:CA Chess;font-size:12pt;font-weight:bold;text-decoration:none;color:#00FF00;}
.S30{font-family:CA Chess;font-size:12pt;font-weight:bold;text-decoration:none;color:#FFFF00;}
.S31{font-family:CA Chess;font-size:12pt;font-weight:normal;text-decoration:none;color:#170C82;cursor:pointer;}
.S32{text-decoration:none;color:#0E0000;background-color:#0D0000;}
.S33{font-family:CA Chess;font-size:12pt;font-weight:normal;text-decoration:none;color:#000000;}
.S34{font-family:CA Chess;font-size:12pt;font-weight:bold;text-decoration:none;color:#000000;}
.S35{font-family:CADiagram;font-size:12pt;font-weight:normal;text-decoration:none;color:#000000;}
.S36{font-weight:normal;text-decoration:none;color:#080000;}
.S37{font-family:Times New Roman;font-size:10pt;font-weight:bold;text-decoration:none;color:#080000;text-align:left;}
.S38{font-family:Times New Roman;font-size:12pt;font-weight:bold;text-decoration:none;color:#080000;text-align:left;}
.S39{font-family:Times New Roman;font-size:8pt;font-weight:normal;text-decoration:none;color:#080000;text-align:left;}
